.env
.env_prod
.env_staging
.idea/
*.pyc
docker-compose_withdb.yml
/static/
/staticfiles/
static/**
temp_local
.DS_Store
/htmlcov
.coverage
client_secret_goog.json
/tmp/logs/*.log
venv/
.vscode/
__pycache__/
db.sqlite3
/migrations/
