<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .navBar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
      .links {
        text-decoration: none;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    {% load static %}
    <ul class="nav nav-tabs navBar">
      <ul class="nav nav-tabs" style="border: none">
        <li class="nav-item">
          <button type="button" class="btn btn-primary">
            <a
              class="nav-link active links"
              aria-current="page"
              style="color: white"
              href="#"
              >Reunite</a
            >
          </button>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item" style="margin-left: 30px">
          <button type="button" class="btn btn-primary">
            <a class="nav-link links" style="color: white" href="/profile"
              >Update</a
            >
          </button>
        </li>
        {% endif %} {% if user.is_authenticated %}
        <li class="nav-item" style="margin-left: 30px">
          <button type="button" class="btn btn-primary">
            <a class="nav-link links" style="color: white">Post</a>
          </button>
        </li>
        {% endif %}
      </ul>
      <ul class="nav nav-tabs" style="border: none">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <button type="button" class="btn btn-danger">
            <a
              class="nav-link active links"
              style="color: white"
              aria-current="page"
              href="/signout"
            >
              Logout
            </a>
          </button>
        </li>
        {% else %}
        <li class="nav-item">
          <button type="button" class="btn btn-primary">
            <a
              class="nav-link active links"
              style="color: white"
              aria-current="page"
              href="/signin"
            >
              Login
            </a>
          </button>
        </li>
        <li class="nav-item" style="margin-left: 30px">
          <button type="button" class="btn btn-success">
            <a
              class="nav-link active links"
              style="color: white"
              aria-current="page"
              href="/signup"
            >
              Sign Up
            </a>
          </button>
        </li>
        {% endif %}
      </ul>
    </ul>

    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong> {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <div class="container"><h3>Welcome to Reuntie</h3></div>

    <div class="container">
      {% if user.is_authenticated %}
      <h3>Hello {{user.first_name}}!</h3>
      <h4>You're successfully logged in.</h4>
      {% else %}
      <h4>Please Sign In or Sign Up to proceed further ...</h4>
      {% endif %}
    </div>

    <form action={% url 'create_post' %}  method="post" id="signin-form" style="width: 100%;margin-bottom: 5vh;"  enctype="multipart/form-data">
      {% csrf_token %}
      
      </div>
      <div class="form-group">
          <input class="form-control inp usrname" type="text" name="body" placeholder="Description" autocomplete="off">
      </div>
      <div class="form-group">
          <div class="custom-file">
              <input type="file" multiple name="post" class="form-control custom-file-input" id="post" accept="image/jpeg,image/png,image/webp,image/gif" data-focusable="true" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="profile"><span style="color: #6c757d;">Upload your images here<span></label>
              <span class="star small"></span>
          </div>
      </div>
      <center>
          <input class="btn btn-primary" type="submit" value="Upload" style="margin-top: 10px; width: 95%;">
      </center>
  </form>

  <div class="container">
    {% if user.is_authenticated %}
    {% comment %} <h3>{{post.body}}</h3>
    <h3>{{post.user}}</h3>
    <h3>{{user.post}}</h3> {% endcomment %}
    {% comment %} <h3>{{user.post_set.all}}</h3> {% endcomment %}

    {% for post in posts %}
    {% comment %} all_post[1].image.all() {% endcomment %}
    
    <h1>{{post.body}}</h1>
    {% comment %} <h1>{{post.user}}</h1> {% endcomment %}
     {% for img in post.image.all %}
    {% comment %} <h1>{{img.image.url}}</h1> {% endcomment %}
    <img src="{{img.image.url}}"  alt="">
      
      
      <img src="{{post.image.image.url}}"  alt="">


    

    
    {% endfor %}
    {% endfor %}







   
    {% endif %}
  </div>

  </body>
</html>
